<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      th:attr="manifest=${cacheable}?'pages.appcache':''"
      xsi:schemaLocation="http://www.thymeleaf.org " manifest="pages.appcache">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>График температуры</title>
    <link th:attr="href=@{/common.css}" href="../static/common.css" type="text/css" rel="stylesheet"/>
    <link th:attr="href=@{webjars/katex-build/0.3.0/katex.min.css}"
            rel="stylesheet" href="htts://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css" type="text/css"/>
    <script th:attr="src=@{webjars/jquery/2.1.1/jquery.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script th:attr="src=@{webjars/flot/0.8.3/jquery.flot.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script th:attr="src=@{webjars/katex-build/0.3.0/katex.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    <script th:attr="src=@{webjars/katex-build/0.3.0/contrib/auto-render.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/contrib/auto-render.min.js"></script>
</head>
<body>
<div class="wrap">
    <h1>Температура вашей ладони: <span th:text="${lastValue}"></span></h1>
    <table class="table table-bordered">
        <thead>
        <tr class="center middle">
            <th class="center middle" th:each="data,rowStat : ${secondResult}" th:text="${rowStat.index}">1</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="center middle" th:each="data,rowStat : ${secondResult}" th:text="${data}"
                th:attr="id=${rowStat.index}">1
            </td>
        </tr>
        </tbody>
    </table>
    <p th:remove="all">Здесь можно прикола ради записать какую-нибудь формулу:
        <div id="formula"></div>
    </p>
    <div id="graph" style="width:100%;height:600px"></div>
    <script th:inline="javascript" type="text/javascript">
        // <![CDATA[
        $(function () {
            var d2 = [[0, 3], [1, 8], [2, 5], [3, 13], [4, 1], [5, 6], [6, 6], [7, 6], [8, 6], [9, 6], [10, 6], [11, 6], [12, 6]];
            for (trash = 0; trash < 13; trash++) {
                d2[trash][1] = parseInt($("#" + trash).text());
            }
            $.plot($("#graph"), [{data: d2, lines: {show: true}}]);
        });
        // ]]>

    </script>
    <script th:inline="javascript" type="text/javascript" th:remove="all">
        // <![CDATA[
        $(function () {
	        katex.render("\\int_{-1337}^{777}\\dfrac{-b \\pm \\sqrt{b^2 - 4ac}}{2a}", formula)
        });
        // ]]>

    </script>
</div>
</body>
</html>
