<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      th:attr="manifest=${cacheable}?'pages.appcache':''"
      xsi:schemaLocation="http://www.thymeleaf.org " manifest="pages.appcache">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>TherMom</title>
    <link th:attr="href=@{/common.css}" href="../static/common.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="wrap">
    <h1>TherMom &mdash;  беспроводной термометр!</h1>

    <p>Мы предлагаем новый метод измерения температуры тела.
        Этот термометр, который крепится на ручку ребёнка.
        Он может передавать данные на Ваш смартфон на разных платформах.
        С помощью приложения Вы будете в курсе о температуре ребёнка на всех этапах.
        Так же вся информация будет отображаться в виде графика.
        При повышении температуры будет приходить оповещение в виде звукового сигнала.
        Нравится?</p>

    <p>Нам нужен ваш почтовый адрес, чтобы держать вас в курсе событий и уведомить, когда устройство будет готово.</p>

    <form action="/land" method="post">
        <label for="mail">Адрес электронной почты</label>
        <input type="text" id="mail" name="mail"/>
        <label for="ticketId">Ваш код</label>
        <input type="number" id="ticketId" name="ticketId"/>
        <input type="submit" value="Записать"/>
    </form>
</div>
</body>
</html>
