<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      th:attr="manifest=${cacheable}?'pages.appcache':''"
      xsi:schemaLocation="http://www.thymeleaf.org " manifest="pages.appcache">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>TherMom</title>
    <link th:attr="href=@{/common.css}" href="../static/common.css" type="text/css" rel="stylesheet"/>
    <script th:attr="src=@{webjars/jquery/2.1.1/jquery.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script th:attr="src=@{webjars/flot/0.8.3/jquery.flot.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
</head>
<body>
<div class="wrap">
    <h1>TherMom следит за вами!</h1>
    <p>Он ещё и за вашим ребётком следит, и делает это тогда, когда он и вы наиболее беззащитны: во сне. Выглядит сие примерно так:</p>
    <h1 th:if="${lastValue != null}">Температура вашей ладони: <span th:text="${lastValue}"></span></h1>
    <table th:if="${lastValue != null}" class="table table-bordered">
        <thead>
        <tr class="center middle">
            <th class="center middle" th:each="data,rowStat : ${secondResult}" th:text="${rowStat.index}">1</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="center middle" th:each="data,rowStat : ${secondResult}" th:text="${data}"
                th:attr="id=${rowStat.index}">1
            </td>
        </tr>
        </tbody>
    </table>

    <div id="graph" th:if="${lastValue != null}" style="width:100%;height:600px"></div>
    <script th:inline="javascript" type="text/javascript">
        // <![CDATA[
        $(function () {
            var d2 = [[0, 3], [1, 8], [2, 5], [3, 13], [4, 1], [5, 6], [6, 6], [7, 6], [8, 6], [9, 6], [10, 6], [11, 6], [12, 6]];
            for (trash = 0; trash < 13; trash++) {
                d2[trash][1] = parseInt($("#" + trash).text());
            }
            $.plot($("#graph"), [{data: d2, lines: {show: true}}]);
        });
        // ]]>
    </script>
    <p>Под графиком мы тоже приведём какой-нибудь текст</p>
    <p>А ещё мы хотим вашу почту, чтобы продать вам устройство, когда оно будет готово.</p>

    <form action="/land"  method="post">
        <label for="mail">Адрес электронной почты</label>
        <input type="text" id="mail" name="mail"/>
        <label for="ticketId">Ваш код</label>
        <input type="text" id="ticketId" value="Записать" name="ticketId"/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>
