<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      th:attr="manifest=${cacheable}?'pages.appcache':''"
      xsi:schemaLocation="http://www.thymeleaf.org " manifest="pages.appcache">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>TherMom</title>
    <link th:attr="href=@{/common.css}" href="../static/common.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="wrap">
    <h1 th:remove="all">Спасибо за ваш интерес!</h1>
    <p>Спасибо за интерес к нашему проекту, Мы будем держать Вас в курсе событий.</p>
    <p th:remove="all">Больше нам предложить нечего, поэтому предлагаем вам ещё и <a href="http://avos.me">надёжный антивирус</a></p>
</div>
</body>
</html>
